#view-with-custom-elements-view
  section
    h3 Modal
    div Here's an example of a modal:
    div Selected: {{ selected || 'none selected' }}
    button.btn.btn-primary(ng-click="openModal()") Open Me!

  list-item(ng-repeat="item in [1,2,3,4,5]")
