//- template id comes from state name: (e.g parent.singleView -> #parent-single-view, )
#single-view
  section
    h1 {{ title }}
    p {{ content }}

    .box.bg-primary
    .box.bg-success
    .box.bg-info
    .box.bg-warning
    .box.bg-danger
