doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Kale
    script(src='thirdparty_bundle.js')
    script(src=appName + '_bundle.js')
    link(href=appName + '_bundle.css', rel='stylesheet')

  body
    nav
      .container
        .navbar-header
          a.navbar-brand(href='#') Angular Demo Architecture

        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/single_view') Single View
            li
              a(href='/multiple_named_views') Multiple Named View
            li
              a(href='/nested_views') Nested Views
            li
              a(href='/view_with_custom_directives') View With Custom Directives

    main(ng-app=ngAppName)
      ui-view
