#modal
  .modal-header
    h3.modal-title I'm a modal!
    .modal-body
      ul
        li(ng-repeat='item in items')
          a(ng-click='selected.item = item') {{ item }}
      strong Selected:
      span {{ selected.item }}
    .modal-footer
      button.btn.btn-primary(ng-click='ok()') OK
      button.btn.btn-warning(ng-click='cancel()') Cancel
